.container-fluid {
    padding: 100px 600px 100px 600px;
}

.game__card {
    min-height: 152px;
}

.game__card {
    border-color: var(--bs-blue);
}

.game__card-content {
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: var(--bs-blue);  
}