.container-fluid {
    padding: 100px 600px 100px 600px;
}

.game__card {
    min-height: 152px;
    border:3px solid var(--bs-blue);
    border-radius: 10px;
    width: 100%;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: var(--bs-blue); 
    background-color: var(--bs-blue); 
    transition: backgrond-color 0.3s ease-in-out;
}

.game__card--active {
    background-color: white;
}
